// Replace with your SSID and Password
#define WIFI_SSID "YOUR_SSID"
#define WIFI_PASS "YOUR_SSID_PSK"
#define HOST_NAME "esp8266-garage"
#define MQTT_SERVER "YOUR_MQTT_SERVER"
#define MQTT_PORT 1883
#define MQTT_USER "YOUR_MQTT_USER"
#define MQTT_PASS "YOUR_MQTT_PASS"

